* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.filter {
    margin: 10px;
}

input {
    border-radius: 15px;

}

.dropdown-rating {
    margin-inline-start: 20px;
}

.table {

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 10px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

table tr:nth-child(odd) {
    background-color: lightgray;
}

table button {
    border-radius: 15px;
    margin-inline-start: 10px;
    cursor: pointer;
}

.read-button {
    background-color: #66baf0;
    border: none;
    /* cursor: pointer; */
}

.update-button {
    background-color: #efc854;
    border: none;
    /* cursor: pointer; */
}

.delete-button {
    background-color: #e4852d;
    border: none;
    /* cursor: pointer; */

}

.add-button {
    margin: 10px;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgba(20, 215, 205, 0.68);
    border: none;
    padding: 5px;
}

.add-button:hover {
    background-color: lightseagreen;
    color: #fff;
    border: none;
    padding: 5px;

}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: lightgrey;

    padding: 10px;

}